.question-container {
  min-height: 9.625rem;
  width: 70%;
  margin: 1rem 0;
}

.question {
  margin: 0;
}

.category {
  color: #f8d753;
}

@media screen and (max-width: 414px) {
  .question-container {
    font-size: 1.3rem;
    width: 90%;
  }

  .category {
    font-size: 1.4rem;
    margin: 0.7rem 0 0 0;
  }
}
