.gameover-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.gameover-container-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gameOverScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #282c34;
  min-width: 500px;
  min-height: 320px;
  border-radius: 1rem;
  box-shadow: inset 0 -4px 0 rgb(0 0 0 / 15%);
}

.gameOverScreen h1 {
  font-size: 2.7rem;
  margin: 0;
}

.gameOverScreen h5 {
  margin: 0 0 1rem 0;
  color: #282c34;
}
